html,body {
	padding:0;
	margin:0;
	height:100%;
}

#loading {
	position:absolute;
	z-index:99;
	top:50%;
	left:50%;
	width:80px;
	height:80px;
	margin:-40px 0 0 -40px;
	background:rgba(0,0,0,0.75) url(../img/ajax-loader.gif) center center no-repeat;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:none;
}

#bc .dijitGutter {
	display:none;
}

#mapDiv {
	padding:0;
	margin:0;
	height:100%;
	position:relative;
}

#bc {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	border:0;
}

#cpleft {
	width:225px;
	height:100%;
	margin:0;
	padding:0;
}

#cptop {
	width:100%;
	height:50px;
	padding:0;
	margin:0;
	border:0;
	background:#000;
	color:#fff;
	font-size:32px;
	line-height:50px;
	overflow:hidden;
}

#title {
	margin:0 20px;
	float:left;
}

#cpcenter {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	border:0;
}

.esriRtl label {
/*Example of a rule that will be applied if the app is viewed in a browser wtih a RTL locale like Hebrew or Arabic.*/
}

#geocoder {
	float:right;
	margin:9px 20px;
	height:32px;
}

#legendDivContainer {
	padding:10px;
}

#bookmarks {
	position:absolute;
	z-index:99;
	top:20px;
	right:20px;
}

#bookmarks .esriBookmarks {
	border:none;
	background:rgba(255,255,255,0.8);
	overflow:hidden;
	-webkit-border-radius:5px;
	border-radius:5px;
	font-weight:700;
	width:auto;
}

#bookmarks .esriBookmarkLabel {
}

#bookmarks .esriBookmarkItem {
	padding:10px;
}

#bookmarks .esriBookmarkHighlight {
	-webkit-border-radius:5px;
	border-radius:5px;
	background:#fff;
}

#draw {
	top:20px;
	left:80px;
	position:absolute;
	z-index:99;
	display:block;
}

#drawButton,#clearButton {
	display:block;
	float:left;
	padding:10px;
	border:2px solid #666;
	font-weight:700;
	background:#fff;
	color:#666;
	-webkit-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	margin-right:10px;
}

#drawButton:hover,#clearButton:hover {
	border-color:#333;
}

#drawButton:active,#clearButton:active {
	border-color:#000;
}

#toggleAge {
	display:inline-block;
	color:#fff;
	padding:20px;
	background:rgba(0,0,0,0.75);
	-webkit-border-radius:5px;
	border-radius:5px;
	font-weight:700;
	font-size:18px;
	cursor:pointer;
}

#geoData {
	position:absolute;
	z-index:99;
	bottom:40px;
	left:0;
	width:100%;
	text-align:center;
	display:none;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
}

.esriAttribution {
	background:rgba(255,255,255,0.75);
	color:#333;
	padding:2px 4px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

#geoData .panel {
	text-align:center;
	display:inline-block;
	color:#fff;
	padding:20px;
	background:rgba(0,0,0,0.75);
	-webkit-border-radius:5px;
	border-radius:5px;
	margin:20px 10px 0;
}

#geoData h2 {
	font-size:40px;
	font-weight:700;
	margin:0;
	padding:0;
}

#geoData p {
	margin:0;
	padding:0;
	font-size:16px;
	font-weight:700;
}

#chart {
	display:none;
	text-align:center;
	margin-top:20px;
}

#chart .chartContainer {
	background:rgba(0,0,0,0.75);
	padding:10px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
}

#chart .caption{
    color:#fff;
    font-weight:bold;
    font-size: 18px;
}


#ageChart {
	display:inline-block;
}

.clear {
	clear:both;
}