html,body {
	padding:0;
	margin:0;
	height:100%;
	font-family:Arial,Helvetica,sans-serif;
}

#loading {
	position:absolute;
	z-index:99;
	top:50%;
	left:50%;
	width:80px;
	height:80px;
	margin:-40px 0 0 -40px;
	background-color:#333;
	background-color:rgba(51,51,51,0.85);
	background-image:url(../img/ajax-loader.gif);
	background-position:center center;
	background-repeat:no-repeat;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:none;
}

#bc .dijitGutter {
	display:none;
}

#mapDiv {
	padding:0;
	margin:0;
	height:100%;
	width:100%;
	position:relative;
}

#bc {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	border:0;
}

#cptop {
	width:100%;
	height:50px;
	padding:0;
	margin:0;
	border:0;
	background:#333;
	color:#fff;
	font-size:32px;
	line-height:50px;
	overflow:hidden;
}

#title {
	margin:0 20px;
	float:left;
}

#cpcenter {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	border:0;
}

.esriRtl label {
/*Example of a rule that will be applied if the app is viewed in a browser wtih a RTL locale like Hebrew or Arabic.*/
}

#geocoder {
	float:right;
	margin:9px 20px;
	height:32px;
}

#bmContainer {
	position:absolute;
	z-index:99;
	top:20px;
	right:20px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

#bmToggle {
	padding:10px;
	cursor:pointer;
	background-color:#333;
	background-color:rgba(51,51,51,0.85);
	color:#fff;
	-webkit-border-radius:5px;
	border-radius:5px;
	width:210px;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	background-image:url(../img/circle_arrow_right.png);
	background-repeat:no-repeat;
	background-position:95% center;
}

#bmToggle.open {
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	background-image:url(../img/circle_arrow_down.png);
}

#bookmarks {
	display:none;
}

#bookmarks .esriBookmarks {
	border:none;
	background:transparent;
	overflow:hidden;
	width:auto;
	background-color:#fff;
	background-color:rgba(255,255,255,0.85);
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
}

#bookmarks .esriBookmarkLabel {
	color:#333;
}

#bookmarks .esriBookmarkItem {
	padding:10px;
}

#bookmarks .esriBookmarkHighlight {
	-webkit-border-radius:5px;
	border-radius:5px;
	background:#fff;
}

#draw {
	top:20px;
	left:80px;
	position:absolute;
	z-index:99;
	display:block;
}

#drawButton,#clearButton {
	display:block;
	float:left;
	padding:10px;
	border:2px solid #666;
	background:#fff;
	color:#666;
	-webkit-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	margin-right:10px;
}

#drawButton:hover,#clearButton:hover {
	border-color:#333;
}

#drawButton:active,#clearButton:active {
	border-color:#000;
}

#geoData {
	position:absolute;
	z-index:99;
	bottom:40px;
	left:0;
	width:100%;
	text-align:center;
	display:none;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
}

.esriAttribution {
	background-color:#fff;
	background-color:rgba(255,255,255,0.75);
	color:#333;
	padding:2px 4px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

#geoData .panel {
	text-align:center;
	display:inline-block;
	color:#fff;
	padding:20px;
	background-color:#333;
	background-color:rgba(51,51,51,0.85);
	-webkit-border-radius:5px;
	border-radius:5px;
	margin:20px 10px 0;
}

#geoData h2 {
	font-size:40px;
	font-weight:700;
	margin:0;
	padding:0;
}

#geoData p {
	margin:0;
	padding:0;
	font-size:16px;
	font-weight:700;
}

.clear {
	clear:both;
}